html {
    font-family: 'Lobster', cursive;
}

body {
    text-align: center;
}

p {
    font-size: 25px;
}

p1 {
    font-size: 75px;
}

nav {
    word-spacing: 50px;
    text-align: center;
}

h1 {
    background-image: url('../img/Programming.jpg');
    color: white;
    height: 480px;
    margin-bottom: -25px;
    width: 1330px;
    text-align: center;
}

footer {
    background-color: darkslategrey;
    color: white;
    font-size: 25px;
    height: 120px;
    width: 1330px;
    text-align: center;
}

h2, h3 {
    color: red;
    text-align: left;
}

.contact {
    background-image: url('../img/app.jpg');
    background-size: cover;
}

.index {
    background-color: red;
}

.faq {
    background-color: red;
}